body {
	color: #444;
	background: #F5F5F5;
	font-family: sans-serif;
	margin: 0;
}

header {
	padding: 5px 15px;
	border-top: 2px solid #444;
	text-shadow: 2px 1px #ccc;
	font-size: 250%;
	color: #3a3a3a;
	background: #e4e4e4;
}

#fire {
	display: inline-block;
	width: 40px; height: 40px;
	background: url('http://dl.pickfire.wha.la/Sprite-0001.gif');
}

#fire:hover {
	background-position: 0 -40px;
}

a {
	text-decoration: none;
}

a:hover {
	background: #e4e4e4;
}

#menu {
	overflow: hidden;
	background: #e4e4e4;
	font-size: 1.6em;
}

#menu a {
	padding: 1ex;
	color: #444;
}

#menu #here, #menu a:hover:not(#here) {
	background: #F5F5F5;
}

#content {
	padding: 10px;
	overflow: hidden;
	margin: 1em 1em 1em 15em;
	max-width: 1000px;
}

code {
	color: #555;
	background: #EEE;
	border: 1px solid;
	padding: 0 3px;
}

footer {
	clear: both;
	margin: 2em 0;
	padding: 7px 1em;
	border-top: 1px solid #878787;
	font-size: 85%;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}
