#nav {
	float: left;
	margin: 1px 1px 5px;
	padding: 1em 0;
	width: 200px;
	border-right: 1px dotted #ccc;
}

#nav ul, #nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	padding: 7px 2em 7px 1em;
	color: #444;
}
