h2 {
	padding: 0 10px;
	margin: 10px -10px;
	font-family: sans;
}

h2:nth-child(even) {
	background-color: #EEE;
}

h2:hover {
	background-color: #DDD;
}

h2 .date {
	color: #555;
	font-size: 50%;
	font-family: serif;
}

h2 a {
	color: #444;
}
