/* Building blocks {{{ */
* {
	box-sizing: border-box;
}

html {
	margin: 0; padding: 0;
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	font-family: sans-serif;
	color: #444; background-color: #F5F5F5;
}

header {
	font-size: 200%;
	padding: 3px 5px;
	border-top: 2px solid #444;
	text-shadow: 2px 1px #ccc;
	color: #3a3a3a; background-color: #e4e4e4;
}

header #info {
	display: none;
}

footer {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	padding: 1ex 1em 1em;
	font-size: 85%;
	border-top: 1px solid #ccc;
	color: #666; background-color: #eee;
}

header, footer {
	display: block;
} /* }}} */

/* Animated Logo {{{ */
#fire {
	display: inline-block;
	width: 40px; height: 40px; margin: 0 5px -2px 0;
	background: url(/img/fire.gif);
}
#fire:hover	{background-position:-40px 0;}
#fire:active {background-position:-80px 0;} /* }}} */

/* Content {{{ */
#main {
	margin: 0 1em;
	padding: 1px 3px 6ex;
}

#menu {
	overflow: hidden;
	background-color: #e4e4e4;
	font-size: 1.6em;
}

#menu a {
	padding: 1px 1ex;
	color: #444;
}

#menu #here, #menu a:hover {
	background-color: #F5F5F5;
}

a { text-decoration: none; color: #4271ae; }
#nav a:hover, #main a:hover { background-color: #e4e4e4; } /* TODO: Shorten this */

#main img { max-width: 100%; max-height: 100% } /* }}} */

/* Basic styling {{{ */
p {
	line-height: 1.5;
}

p code, pre {
	color: #555; background-color: #EEE;
	border: 1px solid;
}

p code {
	padding: 0 3px;
}

pre {
	padding: 9px 1em;
	border-radius: 5px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

blockquote {
	color: #616161;
	overflow: auto;
	border-left: 5px solid #e4e4e4;
	margin: 0;
	padding: 0 1em;
} /* }}} */

/* Extra classes {{{ */
.left {
	margin: 0;
	padding: 0;
	float: left;
}

.right {
	margin: 0;
	padding: 0;
	float: right;
} /* }}} */

/* Navigation bar {{{ */
#nav {
		float: left;
		width: 200px;
		border-right: 1px dotted #ccc;
	margin: 1px 1px 5px;
	padding: 1em 0;
	clear: both;
}

#nav ul, #nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	padding: 7px 2em 7px 1em;
	color: #444;
}

@media only screen and (max-width: 600px) { /* TODO: Reverse this to make it mobile-first */
	#nav {
		float: none;
		width: 100%;
	border-right: none;
	}

	#nav li {
		display: none;
	}

	#nav li.site { /* TODO: use :last-child */
		display: block;
	}

	#nav ul:hover li {
		display: block;
	}
} /* }}} */

/* Mobile-friendly {{{ */
@media only screen and (min-width: 600px) {
	header {
		font-size: 250%;
		padding: 5px 15px;
	}

	header #info {
		display: inline;
	}

	#main {
		margin: 1em 3% 0 calc(13em + 2%);
	}
}
/* }}} */

/* vim:set ai sw=4 ts=4 fdm=marker: */
