/* Normalize min. 2016-07-30 {{{ */
html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

/* remove outline on focused links */
a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
} /* }}} */

/* Building blocks {{{ */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-height: 100%;
	color: #444;
	background-color: #f5f5f5;
}

header {
	padding: 3px 5px;
	font-size: 200%;
	color: #3a3a3a; background-color: #e4e4e4;
	text-shadow: 2px 1px #ccc;
	border-top: 2px solid #444;
}

header #info {
	display: none;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1ex 1em 1em;
	color: #666;
	background-color: #eee;
	font-size: 85%;
	border-top: 1px solid #ccc;
	box-shadow: 0 -5px 1ex -1px rgba(0,0,0,.1)
}/* }}} */

/* Animated Logo {{{ */
#fire {
	display: inline-block;
	margin: 0 5px -3px 0;
	width: 40px;
	height: 40px;
	text-indent: -999em;
	background-image: url(/pub/fire.gif);
}
#fire:hover		{ background-position:-40px 0; }
#fire:active	{
	        filter: hue-rotate(90deg);
	-webkit-filter: hue-rotate(90deg);
} /* }}} */

/* Menu {{{ */
#menu {
	overflow: hidden;
	background-color: #e4e4e4;
	font-size: 1.6em;
}

#menu a {
	padding: 1px 1ex;
	color: #444;
	transition: all .1s ease;
}

#menu #here,
#menu a:hover {
	background-color: #f5f5f5;
}

#nav a:hover,
#main a:hover {
	background-color: #e4e4e4;
}

#tor:after {
	display: none;
	position: relative;
	right: 0;
	top: 100%;
	text-align: center;
	border-radius: 2px;
}

#tor:hover:after {
	display: block;
}

#tor:after {
	content: "Not using Tor!";
} /* }}} */

/* Content {{{ */
#main {
	margin: 0 1em;
	padding: 1px 3px 6ex;
	max-width: 75em;
}

footer a:hover {
	text-decoration: underline;
}

#main img {
	max-width: 100%;
	max-height: 100%;
} /* }}} */

/* Basic styling {{{ */
a {
	color: #4271ae;
	text-decoration: none;
}

p {
	line-height: 1.5;
}

p code,
pre {
	color: #555;
	background-color: #eee;
	font: 10px monospace;
}

p code {
	padding: 3px;
	border-radius: 2px;
}

pre {
	padding: 9px 1em;
	border-radius: 5px;
	border: 1px solid;
}

blockquote {
	margin: 0;
	padding: 0 1em;
	color: #616161;
	overflow: auto;
	border-left: 5px solid #e4e4e4;
} /* }}} */

/* Extra classes {{{ */
.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
} /* }}} */

/* Navigation bar {{{ */
#nav {
		float: left;
		width: 200px;
	margin: 1px 1px 5px;
	padding: 1em 0;
	clear: both;
		border-right: 1px dotted #ccc;
}

#nav ul,
#nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li ul {
	padding-left: .6em !important;
}

#nav li a {
	display: block;
	color: #444;
	padding: 7px 2em 7px 1em;
}

#nav a.site {
	color: #3a3a3a;
	font-weight: bold;
}

#nav a.site:nth-last-child(1) {
	font-weight: #fff;
}

@media only screen and (max-width: 600px) { /* TODO: Reverse this to make it mobile-first */
	#nav {
		float: none;
		width: 100%;
	border-right: none;
	}

	#nav li {
		display: none;
	}

	#nav li.site { /* TODO: use :last-child */
		display: block;
	}

	#nav ul:hover li {
		display: block;
	}
} /* }}} */

/* Mobile-friendly {{{ */
@media only screen and (min-width: 600px) {
	header {
		padding: 5px 15px;
		font-size: 250%;
	}

	header #info {
		display: inline;
	}

	#main {
		margin: 1em 3% 0 calc(13em + 2%);
	}
}
/* }}} */

/* vim:set ai sw=4 ts=4 fdm=marker: */
