#main a {
	display: block;
	padding: 1px 1ex;
	margin: 1ex -1ex;
	color: #444;
	font: 130% sans;
	transition: all .1s ease-out;
}

#main a * {
	margin: 0;
}

#main a:nth-child(even) {
	background-color: #eee;
}

#main .date {
	color: #555;
	font: lighter 60% serif;
}

#main a:hover {
	background-color: #ddd;
}
